@charset "utf-8";

 
/*
 * IE hack 
 */
html, body {
	margin:0px;
	overflow:hidden; /* hide browser's main scrollbar */
	height:100%; /* make sure we'll use 100% of the page's height */
}

#main_container {
	width:100%; 
	background-color:#ffffff; /* do not remove this */
	overflow-x: hidden;
	overflow-y: scroll;
}
