/* 
    Created on : 2014-07-11, 09:36:33
    Author     : Tomasz Świadek - Polcode
    License : Non-commercial
    Description: CSS style for Live Users Chat, feel free to modify it but
    please do not remove this heading with the author :) 
*/


body{
   // background:red;
   margin-left:auto;
   margin-right:auto;
}